<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="container" >
        <h2>Listes des candidats</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">nom</th>
              <th scope="col">email</th>
              <th scope="col">CIN</th>
              <th scope="col">Editer</th>
              <th scope="col">Supprimer</th>  
            </tr>
          </thead>
          <tbody>
            <tr *ngFor=" let candidat of candidats" >
            <td>{{candidat.id }}</td>
            <td >{{candidat.Nom| uppercase}}</td>
            <td >{{candidat.Email}}</td>
            <td >{{candidat.NumeroCarteIdentite}}</td>
            <td><button class='btn btn-primary' [routerLink]="['/','',candidat.id]">Editer</button></td>
            <td><button class='btn btn-danger' (click)="deleteCandidat(candidat.id)">Supprimer  </button></td>
        </tr>
        </tbody>
        </table>
    </div>
</body>
</html>